<div class="container" style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-4">
            <div class="card w-100 h-100">
                
                <form action="" class="p-3">
                    <div>
                        <h3>Register</h3>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter Password">
                    </div>
                    <div class="button-container mt-3">
                        <button type="submit" class="btn btn-primary" routerLink="/login">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>