<div class="container" style="height: 100vh;">
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="col-md-4">
            <div class="card w-100 h-100">
                <form action="" [formGroup]="form" (ngSubmit)="login()" class="p-3">
                    <div>
                        <h3>Login</h3>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" class="form-control" formControlName="username"
                            placeholder="Enter Username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control" formControlName="password"
                            placeholder="Enter Password">
                    </div>
                    <div class="button-container mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div>
                        <p>Don't have an account? <a type="submit" id="registerLink" routerLink="/register">Register</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>