<div class="login-container" style="height: 100vh;">
    <mat-card class="login-card">
        <form action="" [formGroup]="form" (submit)="login()">
            <h3 mat-card-title>Login</h3>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Username" formControlName="username"/>
            </mat-form-field>
           
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter Password" formControlName="password" />
              </mat-form-field>
            
            
            <div class="button-container mt-3">
                <button type="submit" mat-raised-button color="primary">Submit</button>
            </div>
            <div>
                <p>Don't have an account? <a type="submit" id="registerLink" routerLink="/register">Register</a>
                </p>
            </div>
        </form>
    </mat-card>

</div>